* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    
}

.skills {
    margin-top: 13rem;
    width: 100%;
}

/* ------------------------------------------------------------------------------- */
/* THIS IS FOR RESPONSIVENESS*/

@media only screen and (min-device-width: 280px) and (max-width: 480px) {
    #contact {
        /* transform: translate(-50%, -20%); */
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 5rem;
    }

    .skills {
        margin-top: .5rem;
    }

    .skills-title {
        margin-top: 2rem;
        /* margin-left: 3rem; */
        
    }

    .skills-images {
        /* border: solid yellow; */
    }

    .skills-container ul {
        width: 50vw;
        justify-content: center;
        /* border: solid red; */
        /* margin-left: 10vw; */
        padding: 1.1rem;
        transform: translate(0%, 0%);
    }

    .skills-container li {
        padding: .05rem;
    }

    .skills-title h4 {
        font-size: 40px;
    }

    #form-wrapper {
        width: 100%;
        border-radius: 0px;
        margin-top: 1rem;
    }

    .email {
        /* width: 100%; */
        display: flex;
        flex-direction: column;
        /* margin-top: 35rem; */
    }    
}

@media only screen and (min-device-width: 375px) and (max-width: 768px) {
    #contact {
        /* transform: translate(-50%, -20%); */
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 5rem;
    }

    .skills {
        margin-top: .5rem;
        width: 100%;
        /* border: solid red; */
    }

    .skills-title {
        margin-top: 2rem;
    }

    .skills-container {
        /* justify-content: center; */
        /* align-items: center; */
        /* margin-left: 6vw; */
        width: 100%;
        /* border: solid yellow; */
    }

    .skills-images {
        width: 100%;
        /* border: solid purple; */
    }

    .skills-container ul {
        /* width: 90vw; */
        justify-content: center;
        transform: translate(0%,0%)
    }

    .skills-title h4 {
        font-size: 40px;
    }

    #form-wrapper {
        width: 100%;
        border-radius: 0;
    }

    .email {
        /* width: 100%; */
        display: flex;
        flex-direction: column;
    }

    .email-form {
        width: 90vw;
    }

    .btn-box button {
        margin-left: 0;
    }
    

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1000px) {
    #contact {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 5vw auto 15vh;
        margin-top: 5rem;
    }

    .skills {
        margin-top: .5rem;
        margin-left: 0%;
    }

    .skills-title {
        margin-top: 2rem;
    }

    .skills-container {
        /* margin-left: 6vw; */
    }

    .skills-images {
        width: 100%;
    }

    .skills-container ul {
        width: 90vw;
        /* justify-content: center; */
        align-items: center;
        transform: translate(0%,0%);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 100%;
    }

    .skills-container li {
        padding: .06rem;
    }

    .skills-title h4 {
        font-size: 40px;
    }


    #form-wrapper {
        /* transform: translate(-4%, 00%); */
        /* width: 100%; */
        border-radius: 0;
        /* margin-top: 0; */
    }

    .email {
        /* width: 100%; */
        display: flex;
        flex-direction: column;
    }

    .email-form {
        /* transform: translate(-4%, 0%); */
        /* height: 290px; */
       /*  border: .10px solid red; */
        /* width: 80vw; */
        width: 90vw;
    }

    .btn-box button {
        margin-left: 0;
    }

}

@media only screen and (min-device-width: 1000px) and (max-device-width: 1366px) {
    
}


/* For Landscape view */

/* @media (orientation: landscape) and (min-width: 480px) and (max-width: 768px) {
.projCard-container {
  
display: flex;
flex-direction: column;
flex-wrap: wrap;
width: 100%;

}

.projCard-container .projCard-box {
width: 90vw;
height: 300px;
transform: translate(1%, 0%);
}

.projCard-container .projCard-box .img-wrapper img {


width: 125vw;
height: auto;

}
} */

/* @media (orientation: landscape) and (min-width: 375px) and (max-width: 768px) {
.projCard-container {
  
display: flex;
flex-direction: column;
flex-wrap: wrap;
width: 100%;

}

.projCard-container .projCard-box {
width: 90vw;
height: 300px;
transform: translate(1%, 0%);
}

.projCard-container .projCard-box .img-wrapper img {


width: 125vw;
height: auto;

}
} */

/* @media (orientation: landscape) and (min-width: 1000px) and (max-height: 900px) {


} */