.skills-title {
    margin-top: 5rem;
    font-size: 56px;
    letter-spacing: 0.005em;
    display: grid;
    justify-content: center;
    align-items: center;
    color: #1d1d1f;
    position: static;
}

/* EVERYTHING PERTAINING TO THE SKILLS-CONTAINER */
    .skills-container {
        display: grid;
        width: 100%;
        margin-top: 2rem;
        justify-content: center;
        grid-template-columns: auto;
        grid-template-areas: ".skills-images" ".skill-list";
    }

    .skills-container li:hover {
        opacity: 0.8;
        cursor: pointer;
        filter: drop-shadow(2px 4px 8px lightgrey);
    }

    .skills-images {
        /* align-items: center;
        justify-content: center; */
        /* border: solid yellow; */
    }

    .skills-images li {
        list-style: none;
        /* margin: 20px; */
        /* margin: 1rem; */
        padding: .5rem;
    }

    .skills-container ul {
        /* border: solid red; */
        padding: 1rem;
        /* display: flex; */
        flex-wrap: wrap;
        /* justify-content: space-evenly; */
        max-width: 625px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transform: translate(50%, 0%);
        /* margin: 1em 0; */
        max-width: 45%;
        min-width: 250px;
    }
    