  
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
  }

#mainPage-wrapper {
    /* position: absolute; */
    top: 60%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    width: 100%;
    height: 100%;
    border-radius: 10px;
    max-width: 100%;
    /* padding: 4.5rem 2.5rem 1.5rem 2.5rem; */
    border-radius: 4px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Margin-top: 22rem; */
}

#bio-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    /* margin-top: 20rem; */
}

/* FOR THE IMG CARDS */
    .overlay-practice {
        position: relative;
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        /* background-color: yellow; */
        align-items: center;
        justify-content: center;
        margin-right: 1.5rem;
        margin-bottom: 2rem;
    }

    /* This is where i can resize the box holding the pic */
    /* .overlay-practice */ .img-box {
        position: relative;
        width: 500px;
        height: 500px;
        overflow: hidden;
        transition: 0.5s;
        /* background-color: black; */
    }

    .overlay-practice .img-box:hover {
        z-index: 1;
        transform: scale(1.15);
        box-shadow: 0 25px 40px rgba(0,0,0,.5);

    }

    .overlay-practice .img-box .img-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height:100%;
    }

    .overlay-practice .img-box .img-container:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        /* background: linear-gradient(180deg,#00D1FF ,#00BF58); */
        mix-blend-mode: multiply;
        opacity: 0;
        transition: 0.5s;
    }

    .overlay-practice .img-box:hover .img-container:before {
        opacity: 1;
    }



    .overlay-practice .img-box .img-container img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height:100%;
        object-fit: cover;
    }

    .img-container {
        overflow: hidden;
    }

    .overlay-practice .img-box .img-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        padding: 20px;
        align-items: flex-end;
    }

    .overlay-practice .img-box .img-content h2{
        color: #fff;
        transition: 0.5s;
        text-transform: uppercase;
        margin-bottom: 5px;
        font-size: 20px;
        transform: translateY(200px);
    }

    .overlay-practice .img-box:hover .img-content h2{
        transform: translateY(0);
        transition-delay: 0.6s;
    }

    .overlay-practice .img-box .img-content p {
        color: #fff;
        transform: translateY(200px);
        transition: 0.5s;
        font-size: 20px;
        font-family: 'Amatic SC', sans-serif;
    }

    .overlay-practice .img-box:hover .img-content p {
        transform: translateY(0);
        transition-delay: 0.05s;
    }

.img-container {
    border-radius: 30px;
    /* background-color: red; */
    /* padding: 4rem; */
    /* float: right; */
    
}

.img-box {
    width: 60%;
    /* background-color: purple; */
    border-radius: 30px;
}

/* ------------------------------------------------------------------------------- */
/* THIS IS EVERYTHING IN .sideBio container */

    .sideBio {
        background-color: white;
        text-align: center;
        padding: 4rem;
        border-radius: 30px;
        width: 65vw;
        /* height: 40rem; */
        margin-bottom: 2rem;
        margin-right: 4rem;
        color: #2c426a;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .sideBio h1 {
        font-family: 'Otomanopee One', sans-serif;
        color: var(--sec-bg-color);
    }

    .sideBio h3 {
        display: flex;
        text-align: center;
        font-family: 'Otomanopee One', sans-serif;
        color: var(--sec-bg-color);
        /* justify-content: center; */
    }
    .about-picture {
        height: 400px;
        width: 100%;
    }

    .about-heading {
        margin-bottom: 1rem;
        font-family: 'Trispace', sans-serif;
        text-align: center;
    }

    .sideBio p {
        font-family: 'Amatic SC', sans-serif;
        font-weight: 300;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: center;
    }

    .stackIcons {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: .2rem;
    }

/* LINKS STUFF */
.links-about {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 1rem;
    margin-top: 2rem;
    position: relative
}

.links-about a{
    display: block;
    width: 120px;
    height: 50px;
    text-decoration: none;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
    color: #f0e9dc;
}

.links-about a:nth-child(1):hover {
    
    color: var(--main-btn-color);
    transition: color 500ms ease .1s;
    animation-name: scale;
    animation-duration: .4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes scale {
    0% {
        transform: scale(1.5);
    }
    25% {
        transform: scale(1.5);
    }
    75% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1.5);
    }
}

.links-about a:nth-child(2):hover {
    
    color: var(--main-btn-color);
    transition: color 500ms ease .1s;
    transition: color 500ms ease .1s;
    animation-name: scale;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.links-about a:nth-child(3):hover {
    
    color: var(--main-btn-color);
    transition: color 500ms ease .1s;
    transition: color 500ms ease .1s;
    animation-name: scale;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.links-about a:nth-child(4):hover {
    
    color: var(--main-btn-color);
    transition: color 500ms ease .1s;
    transition: color 500ms ease .1s;
    animation-name: scale;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


/* ------------------------------------------------------------------------------- */

/* Parent container of the About Me Cards*/

  .container {
    width: 100%;
    /* min-height: 50px; */
    height: 100%;
    margin: 1px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
  }

.container .card h2 {
    font-family: 'Otomanopee One', sans-serif;
}

.container .card .card__inner .card__face.card__face--front h2 {
    font-family: 'Otomanopee One', sans-serif;
}


.container .card h3 {
    font-family: 'Otomanopee One', sans-serif;
    color: var(--sec-bg-color);
}

.container .card p {
font-family: 'Amatic SC', sans-serif;
color: #2c426a;
}

/* ------------------------------------------------------------------------------- */
/* THIS IS FOR RESPONSIVENESS*/

  /* For Portrait view */

    @media only screen and (min-device-width: 280px) and (max-width: 480px) {

        #mainPage-wrapper {
            width: 100%;
            padding: 2.5rem 2.5rem 1.5rem 2.5rem;
            margin-top: 4rem;
        }

        .container {
            width: 100%;
        }

        .container .card {
            width: 100%;
            display: flex;
            flex-direction: column;
            /* height: 10; */
        }


        .container .card h2 {
            font-size: 13px;
        }

        .container .card .card__inner .card__face.card__face--front h2 {
            font-size: 30px;
        }
        

        .container .card h3 {
            font-size: 15px;
        }

        .container .card p {
            font-size: 12px;
        }

        #bio-wrapper {
            display: flex;
            flex-direction: column;
            width: 90vw;
        }

        .overlay-practice {
            width: 90vw;
            margin-right: -10px;
            /* margin-top: 60vh; */
            transform: translate(0%, 0%);
            
        }

        .overlay-practice .img-box:hover {
            z-index: 1;
            transform: scale(1.05);
            box-shadow: 0 25px 40px rgba(0,0,0,.5);
    
        }

        .overlay-practice .img-box {
            width: 90%;
        }

        .sideBio {
            width: 100%;
            /* height: 40rem; */
            overflow-x: hidden;
            overflow-y: auto;
            padding-bottom: 0;
        }

        .sideBio .links-about {
            
            display: grid;
            grid-template-columns: 50% 50%;
            justify-content: center;
            align-items: center;
            margin: 1rem;
        }

        .sideBio .links-about a{
            
            width: 100%;
            margin: 0rem 10px 25px 0px;
           
        }

        .sideBio p {
            font-size: 17px;
            overflow-x: hidden;
            overflow-y: auto;
        }
    }

    @media only screen and (min-device-width: 375px)and (max-width: 768px) {
        #mainPage-wrapper {
            padding: 4.5rem 2.5rem 1.5rem 2.5rem;
            margin-top: 3rem;
        }

        .container {
            width: 100%;
            /* transform: translate(-10%, 0%); */
        }

        .container .card {
            width: 100%;
            display: flex;
            flex-direction: column;
           /*  height: 100%; */
            
        }

        .container .card h2 {
            font-size: 13px;
        }

        .container .card h3 {
            font-size: 15px;
        }

        .container .card p {
            font-size: 12px;
        }

        #bio-wrapper {
            display: flex;
            flex-direction: column;
            width: 90vw;
        }

        .overlay-practice {
            width: 90vw;
            margin-right: -10px;
            /* margin-top: 70vh; */
            transform: translate(0%, 0%);   
        }

        .overlay-practice .img-box:hover {
            z-index: 1;
            transform: scale(1.05);
            box-shadow: 0 25px 40px rgba(0,0,0,.5);
    
        }

        .overlay-practice .img-box {
            width: 90%;
        }

        .sideBio {
            width: 90vw;
            /* height: 90vh; */
            overflow-x: hidden;
            overflow-y: auto;
            padding-bottom: 1rem;
        }

        .sideBio .links-about {
            
            padding-top: 1rem;
            display: flex;
            /* grid-template-columns: 50% 50%; */
            margin: 0px;
        }

        .sideBio .links-about a{
            
            width: 100%;
            /* height: 70px; */
            padding: .8rem;
            margin: 0rem 10px 25px 0px;
        }

        .sideBio p {
            font-size: 17px;
            overflow-x: hidden;
            overflow-y: auto;
        }

    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1000px) {

        #mainPage-wrapper {
            padding: 4.5rem 2.5rem 1.5rem 2.5rem;
            margin-top: 5rem;
        }

        .container {
            width: 100%;
            transform: translate(0%, 0%);
        }

        .container .card {
            /* width: 70vw; */
            display: flex;
            flex-direction: column;
            /* height: 200vh; */
            /* transform: translate(0%, 0%); */
        }

        .container .card h2 {
            font-size: 30px;
        }

        .container .card__body h3 {
            font-size: 25px;
        }

        .container .card p {
            font-size: 25px;
        }

        #bio-wrapper {
            display: flex;
            flex-direction: column;
            width: 90vw;
            /* margin-top: 10vh; */
            /* grid-gap: 60px; */
            
        }

        .overlay-practice {
            width: 90vw;
            margin-right: -10px;
            /* margin-top: 40vh; */
            transform: translate(0%, 0%);
            
        }

        .overlay-practice .img-box:hover {
            z-index: 1;
            transform: scale(1.05);
            box-shadow: 0 25px 40px rgba(0,0,0,.5);
    
        }

        .overlay-practice .img-box {
            width: 90%;
        }

        .sideBio {
            width: 90vw;
            height: 100%;
            padding-bottom: 0;
        }

        .sideBio .links-about {
            
            margin: 2rem;
            display: flex;
        }

        .sideBio p {
            font-size: 20px;
            overflow-x: hidden;
            overflow-y: auto;
            width: 75vw;
        }

        .sideBio h3 {
            justify-content: center;
            /* align-items: center; */
        }

    }

    @media only screen and (min-device-width: 1000px) and (max-device-width: 1366px) {
        #mainPage-wrapper {
            padding: 4.5rem 2.5rem 1.5rem 2.5rem;
            margin-top: 5rem;
        }

        .container {
            width: 100%;
        }

        .container .card {
            /* width: 100vw; */
        }

        .container .card h2 {
            font-size: 18px;
        }

        .container .card p {
            font-size: 15px;
        }

        #bio-wrapper {
            /* display: flex; */
            /* flex-direction: column; */
            width: 90vw;
            /* margin-top: 10vh; */
            grid-gap: 60px;
        }

        .overlay-practice {
            width: 40vw;
            margin-right: -10px;
            transform: translate(-5%, 0%);
        }

        .overlay-practice .img-box:hover {
            z-index: 1;
            transform: scale(1.05);
            box-shadow: 0 25px 40px rgba(0,0,0,.5);
    
        }

        .overlay-practice .img-box {
            width: 90%;
        }

        .sideBio {
            width: 50vw;
            /* height: 60vh; */
            /* margin-top: 20px;  */
            transform: translate(-10%, 0%);
        }

        .sideBio h3 {
            justify-content: center;
        }

        .sideBio .links-about {
            
            padding-top: 0;
            /* transform: translate(0%, -60%); */
            margin-top: 1.5rem;
        }

        .sideBio p {
            font-size: 17px;
            overflow-x: hidden;
            overflow-y: auto;
        }
    }



    @media only screen and (min-device-width: 1366px) and (max-device-width: 2500px) {
        #mainPage-wrapper {
            padding: 4.5rem 2.5rem 1.5rem 2.5rem;
            margin-top: 6rem;
        }

        .sideBio p {
            font-size: 25px;
            overflow-x: hidden;
            overflow-y: auto;
        }
        
    }

/* For Landscape view */

@media (orientation: landscape) and (min-width: 480px) and (max-width: 768px) {
    
}

@media (orientation: landscape) and (min-width: 768px) and (max-width: 1000px) {

}

@media (orientation: landscape) and (min-width: 1000px) and (max-height: 900px) {
    .container {
        width: 100%;
    }

    .container .card {
        /* width: 100vw; */
    }

    .container .card h2 {
        font-size: 18px;
    }

    .container .card p {
        font-size: 20px;
    }

    #bio-wrapper {
        /* display: flex; */
        /* flex-direction: column; */
        width: 90vw;
        margin-top: 1vh;
        grid-gap: 60px;
    }

    .overlay-practice {
        width: 40vw;
        margin-right: -10px;
        transform: translate(-5%, 0%);
    }

    .overlay-practice .img-box:hover {
        z-index: 1;
        transform: scale(1.05);
        box-shadow: 0 25px 40px rgba(0,0,0,.5);

    }

    .overlay-practice .img-box {
        width: 90%;
    }

    .sideBio {
        width: 50vw;
        /* height: 90vh; */
        transform: translate(-10%, 0%);
    }

    .sideBio h3 {
        justify-content: center;
    }

    .sideBio .links-about {
        
        padding-top: 0;
        /* transform: translate(0%, -60%); */
    }

    .sideBio p {
        font-size: 20.5px;
        overflow-x: hidden;
        overflow-y: auto;
    }

}