.resume__container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    /* top: 60%;
    left: 50%; */
    transform: translate(100%, 6%);
    height: 80vh;
}

.resume__image {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: 80vh;
    transition: 0.5s;
}

.resume__image:hover {
    z-index: 1;
    transform: scale(1.05);
    box-shadow: 0 25px 40px rgba(0,0,0,.5);
}

/* ------------------------------------------------------------------------------- */
/* THIS IS EVERYTHING FOR RESPONSIVE DESIGN */

    /* For Portrait view */

        @media only screen and (min-device-width: 280px) and (max-device-width: 480px) {
            .resume__container {
                transform: translate(2%, 5%);
    
            }

            .resume__image {
                height: 65vh;
                transition: 0.5s;
            }

            /* @media(hover: hover) {
                .resume__image:hover {
                    z-index: 1;
                    transform: scale(1.05);
                    box-shadow: 0 25px 40px rgba(0,0,0,.5);
                }
            } */
        }

        @media only screen and (min-device-width: 480px) and (max-width: 768px) {
            .resume__container {
                transform: translate(30%, 10%);
            }

            .resume__image {
                height: 65vh;
                transition: 0.5s;
            }
        }

        @media only screen and (min-device-width: 375px)and (max-width: 926px) {
            .resume__container {
                transform: translate(0%, 5%);
                width: 95vw;
            }

            .resume__image {
                height: 55vh;
                transition: 0.5s;
            }
        }


        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
            .resume__container {
                transform: translate(9%, 8%);
                width: 80vw;
            }

            .resume__image {
                height: 80vh;
                transition: 0.5s;
            }
        }

        @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
            .resume__container {
                transform: translate(45%, 8%);
                width: 50vw;
            }

            .resume__image {
                height: 80vh;
                transition: 0.5s;
            }
        }

        @media only screen and (min-device-width: 1366px) and (max-device-width: 2600px) {
            .resume__container {
                transform: translate(45%, 8%);
                width: 50vw;
            }

            .resume__image {
                height: 80vh;
                transition: 0.5s;
            }
        }

    /* For Landscape view */

    @media (orientation: landscape) and (max-width: 768px) {
        .resume__container {
            transform: translate(30%, 5%);
            width: 55vw;
        }

        .resume__image {
            height: 70vh;
            transition: 0.5s;
        }
    }

    @media (orientation: landscape) and (max-width: 1024px) {
        .resume__container {
            transform: translate(40%, 5%);
            width: 55vw;
        }

        .resume__image {
            height: 80vh;
            transition: 0.5s;
        }
    }

    @media (orientation: landscape) and (max-device-width: 1366px) {
        .resume__container {
            transform: translate(40%, 8%);
            width: 55vw;
        }

        .resume__image {
            height: 80vh;
            transition: 0.5s;
        }
    }

 /* @media (min-width: 640px){
 
    ...
     
    }
     
    @media (min-width: 768px){
     
    ...
     
    }
     
    @media (min-width: 1024px){
     
    ...
     
    }
     
    @media (min-width: 1200px){
     
    ...

    */