* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #F0E9DC; /* Alabaster */
    --sec-bg-color: #07678E; /* Blue Sapphire */
    --main-btn-color: #2DBCB4; /* Tiffany Blue */
    --neutral-color: #12130F; /* Smoky Black */
    --misc-color: #BF4E30; /* Vermillion */
}

#form-wrapper {
    position: absolute;
    z-index:1;
    /* top: 50%; */
    /* left: 70%; */
    margin-top: 7rem;
    /* transform: translate(-50%, -50%); */
    width: /* 280px */ 450px;
    height: 645px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    -webkit-backdrop-filter: blur(10px);
    /* border: .7px solid rgba(255,255,255,.2); */
    /* border: .7px solid red; */
    align-items: center;
    justify-content:space-evenly;
    color: #2c426a;
    grid-area: email;
    text-transform: uppercase;
    /* background-image: url("http://clubsolaris.com/imgs/tips-to-take-care-of-the-beach-during-your-vacations/beach-sea-cancun-sun.png"); */
    /* background-image: url("../../../../src/assets/images/Waves.mp4"); */
    background-color: #fff;
}

.intro-text {

    width: 260px;
    height: 60px;
    font-family: 'Otomanopee One', sans-serif;
    /* margin: .2rem; */
    font-size: 1.3rem;
    /* color: #2c426a; */
    /* color: #BF4E30; */
    text-align: center;
    margin-bottom: 1rem;
}

.email-form {
    z-index:50;
    width: 260px;
    font-family: 'Amatic SC', sans-serif;
    /* height: 390px; */
}


/* THIS IS FOR THE NAME INPUTS */
   
    .input-one input {
        border-radius: 3px 0 0 3px;
        box-shadow: 0 0 10px #494f653b;
        width: 100%;
        min-width: auto;
        height: 50px;
        outline: none;
        border: .5px solid #dbdbdb;
        padding: .9rem;
        /* margin-top: 1rem; */
        /* margin-right: 30px; */
    }

    /* .input-two input {
        border-radius: 0 3px 3px 0;
        box-shadow: 0 0 10px #494f653b;
        width: 100%;
        min-width: auto;
        height: 50px;
        outline: none;
        border: .5px solid #dbdbdb;
        padding: .9rem;
        margin-top: 1rem;
    } */

    input::placeholder{
        color: #bfbfbf;
    }

    .txt-box {
        margin-top: .5rem;
    }

/* THIS IS FOR THE EMAIL INPUTS */
    .email-input {
        display: flex;
        margin-top: 1rem;
        flex-direction: column;
    }

    .email-input input {
       height: 50px;
       outline: none;
       border: .5px solid #dbdbdb;
       border-radius: 3px;
       padding: .9rem;
       box-shadow: 0 0 10px #494f653b;
    }

    ._subject {
        display: flex;
        margin-top: 1rem;
        flex-direction: column;
    }

    ._subject input {
        height: 50px;
        outline: none;
        border: .5px solid #dbdbdb;
        border-radius: 3px;
        padding: .9rem;
        box-shadow: 0 0 10px #494f653b;
    }

    .btn-box p {
        font-size: .8rem;
        padding: 1rem 0;
        text-align: center;
    }

    .btn-box button {
        font-size: 1rem;
        border-radius: 3em;
        border: 1px solid var(  --sec-bg-color);
        color: var(--main-bg-color);
        outline: none;
        /* background: var(--main-btn-color); */
        color: #fff;
        cursor: pointer;
        /* background: transparent; */
        display: inline-block;
        border-radius: 3em;
        font-size: 1em;
        padding: 8px 45px;
        line-height: initial;
        -webkit-transition: all 250ms ease 50ms;
        /* transform: translate(40%, 0%); */
        margin-top: 2rem;
        margin-left: 3.5rem;
    }

    .btn-box button:hover {
        background: var(--main-btn-color);
        box-shadow: 0 0 10px #494f653b;
        /* transition: all 250ms ease 50ms; */
        /* -webkit-transition: all 250ms ease 50ms; */
    }

    .message-text {
        width: 100%;
        height: 50px;
        outline: none;
        border: .5px solid #dbdbdb;
        border-radius: 3px;
        padding: .9rem;
        box-shadow: 0 0 10px #494f653b;
    }

    .message-text::placeholder{
        color: #bfbfbf;
    }

/* THIS IS FOR THE ICON BOXES/PICS */
    .other-content{
        /* width: 260px;
        height: 90px; */
    }

    .other-content p {
        text-align: center;
        padding: .2rem;
        font-size: 1rem;
    }

    .links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 2rem;
    }

    .links a{
        display: block;
        width: 120px;
        height: 50px;
        text-decoration: none;
        line-height: 50px;
        text-align: center;
        border-radius: 3px;
        color: var(--main-bg-color);
        -webkit-transition: all 250ms ease 50ms;
    }

    .links a:nth-child(1):hover {
        color: var(--main-btn-color);
        /* transition: color 500ms ease .1s; */
        animation-name: scale;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes scale {
        0% {
            transform: scale(2.5);
        }
        25% {
            transform: scale(2.5);
        }
        75% {
            transform: scale(2.5);
        }
        100% {
            transform: scale(2.5);
        }
    }
    /* background: linear-gradient(to top,#00F0FF 30%, #f0e9dc 60%); */
    .links a:nth-child(2):hover {
        /* background: blue; */
        color: var(--main-btn-color);
        transition: color 500ms ease .1s;
        transition: color 500ms ease .1s;
        animation-name: scale;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    .links a:nth-child(3):hover {
        color: var(--main-btn-color);
        transition: color 500ms ease .1s;
        transition: color 500ms ease .1s;
        animation-name: scale;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    .links a:nth-child(4):hover {
        color: var(--main-btn-color);
        transition: color 500ms ease .1s;
        transition: color 500ms ease .1s;
        animation-name: scale;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }