/* .ProjectCard {
    flex: 1;
    margin: .5rem;
    padding: 1.25rem 1.25rem .5rem 1.25rem;
    width: 80%;
  
    &:hover {
      transform: scale(0.98);
      cursor: pointer;
    }
  
    h1 {
      font-size: 1.563rem;
      font-weight: 600;
    }
  
    h2 {
      font-size: 1.25rem;
    }
  } */

.projCardContainer {
  width: 100%;
  min-height: 50px;
  margin-top: 10px;
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: orangered;
  grid-template-columns: 50% 50%;
  
  &:hover {
    cursor: pointer;
  }
  

  .projCardBox {
    position: relative;
    
    height: 300px;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    /* background: #ff0; */
  
    .imgWrapper {
      position: relative;
      overflow: hidden;

      img {
        max-width: 100%;
        transition: transform 2s;

        &:hover {
          transform: scale(1.2);

        }
      }
    }
    
    .detailsBox {
      position: absolute;
      top: 10px;
      left: 10px;
      bottom: 10px;
      right: 10px;
      background: /* #07678E */ #2DBCB4;
      border-radius: 18px;
      opacity: .95;
      transform: scaleY(0);
      transition: transform .5s;

      .contentBox {
        position: absolute;
        /* top: 50px; */
        /* transform: translateY(-50%); */
        text-align: center;
        /* padding: 15px; */
        color: /* #f0e9dc */#fff;
        /* border: 10px solid yellow; */
        width: 100%;
        height: 100%;
        
      
        p {
          font-size: 50px;
            /* margin-top: 10vh; */
            padding: 4rem;
            font-family: 'Amatic SC', sans-serif;
            color: #fff;
            /* border: 10px solid red; */
            /* transform: translateY(50%); */
            width: 100%;
            display: inline-block;
            vertical-align: middle;
            
        }
        
      }
    }
  }
}

.projCardContainer .projCardBox:hover .detailsBox {
  transform: scaleY(1)
}







  /* 
  .Img {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  } */
  
  /* .Text {
    padding: .75rem 0 .5rem 0;
  }
  
  @media (min-width: 640px) {
    .ProjectCard {
      h1 {
        font-size: 1.25rem; 
      }
  
      h2 {
        font-size: 1rem;
      }
    }
  }
  
  @media (min-width: 840px) {
    .ProjectCard {
      h1 {
        font-size: 2rem;
      }
  
      h2 {
        font-size: 1rem;
      }
    }
  } */