* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  body {
    /* background: #418DFF; */
    display: block;
    background: linear-gradient(to top,#07678E 30%, #f0e9dc 60%);
    background-attachment: fixed;
    height: 100%;
  }
  
  .app {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 18px;
    height: 100%; */
  }
  
  .app > * {
    border-radius: 6px;
    border: 4px solid #333;
    box-shadow: 0 8px 12px -4px black;
    padding: 8px;
    overflow-y: scroll;
  }
  
  /* .profile {
    grid-column: 1;
    grid-row: 1;
  } */


.route-container{
  position: relative;
}

.fade {
  position: absolute;
  /* left: 15px;
  right: 15px; */
  width: 100%;
}

/* Route-Transition Styling */
  .fade-enter {
    opacity: 0;
    transform: scale(1.1);
  }
  
 /*  .fade-enter */.fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transition 300ms /* ease-in */;
  }

  .fade-exit {
    opacity: 1;
    transform: scale(1);
  }

  /* .fade-exit */.fade-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 200ms, transform 300ms;
  }