/* $gray-primary: #C4C4C4;
$gray-light: #f7f8f8;
$width-main: 1180px;
$width-text: 640px;
$color-transition: 0.3s linear; */

:root {
  --width-text: 640px;
  --width-main: 1180px;
  --gray-light: #f7f8f8;
}

.ModalContainer {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 999;
  }

  .ModalContent {
    background-color: #fff;
    border-radius: 3px;
    max-width: var(--width-text); 
    margin: 50px 1rem;
  
    @media (min-width: var(--width-text)) {
      max-width: calc(640px - 2rem); //640 from $width-text
      margin: 50px auto;
      padding: 0 2rem;
    }
  }
  
  .ModalOpen {
    overflow: hidden;
  }
  
  .ModalHeader {
    position: relative;
  }
  
  .CloseBtn {
    padding: .75rem;
    margin: 0;
    background: transparent;
    border: 0;
    position: absolute;
    right: 10px;
    font-weight: bold;
    font-size: 1.25rem;
    color: gray;
    cursor: pointer;
  
    @media (min-width: var(--width-text)) {
      margin-right: -2rem;
    }
  
    &:hover {
      color: red;
    }
  }