.CardWrapper {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
    max-width: var(--width-main);
    margin: 1rem auto;
  }
  
  /* @include medium-screens {
    .CardWrapper {
      flex-direction: row;
    }
  } */