  

#mainPage-wrapper {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 700px;
    border-radius: 10px;
    max-width: 100%;
    padding: 4.5rem 2.5rem 1.5rem 2.5rem;
    background-color: #fff;
    border-radius: 4px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    /* transition: opacity 0.325s ease-in-out, transform 0.325s ease-in-out;
    transition-property: opacity, transform;
    transition-duration: 0.325s, 0.325s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s, 0s; */
}

#bio-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 45px;
}

.img-container {
    border-radius: 4px;
    /* border-color: red; */
}

.about-picture {
    height: 400px;
    width: 100%;
    margin-top: -25px;
    /* border-color: red; */
}

.stackIcons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: .2rem;
}

/* .icons {
    height: 100px;
    width: 60px;
} */

/* LINKS STUFF */
.links-about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
}

.links-about a{
    display: block;
    width: 120px;
    height: 50px;
    text-decoration: none;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
    color: #00D1FF;
}

.links-about a:nth-child(1):hover {
    /* background: #26242e; */
    color: #00BF58;
    transition: color 500ms ease .1s;
    animation-name: scale;
    animation-duration: .4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes scale {
    0% {
        transform: scale(1.5);
    }
    25% {
        transform: scale(1.5);
    }
    75% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1.5);
    }
}

.links-about a:nth-child(2):hover {
    /* background: blue; */
    color: #00BF58;
    transition: color 500ms ease .1s;
    transition: color 500ms ease .1s;
    animation-name: scale;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.links-about a:nth-child(3):hover {
    /* background: purple; */
    color: #00BF58;
    transition: color 500ms ease .1s;
    transition: color 500ms ease .1s;
    animation-name: scale;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.links-about a:nth-child(4):hover {
    /* background: aqua; */
    color: #00BF58;
    transition: color 500ms ease .1s;
    transition: color 500ms ease .1s;
    animation-name: scale;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}