* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;

    /* Display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
}

/* .email {
    display: grid;
} */