* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#form-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
    border: .7px solid rgba(255,255,255,.2);
    align-items: center;
    justify-content:space-evenly;
    color: white;
}

.intro-text {
    width: 260px;
    height: 60px;
    margin: 1rem;
    font-size: 1.2rem;
    color: #fff;
}

.email-form {
    width: 260px;
    height: 260px;
}


/* THIS IS FOR THE NAME INPUTS */
    .name-input {
        display: flex;
    }

    .name-input input{
        width: 130px;
        height: 50px;
        outline: none;
        border: .5px solid #dbdbdb;
        padding: .9rem;
    }

    #input-one input {
        border-radius: 3px 0 0 3px;
    }

    #input-two input {
        border-radius: 0 3px 3px 0;
    }

    input::placeholder{
        color: #bfbfbf;
    }

/* THIS IS FOR THE EMAIL INPUTS */
    .email-input {
        display: flex;
        flex-direction: column;
    }

    .email-input input {
       height: 50px;
       outline: none;
       border: .5px solid #dbdbdb;
       border-radius: 3px;
       padding: .9rem;
    }

    .btn-box {
        height: 100px;
    }

    .btn-box p {
        font-size: .6rem;
        padding: 1rem 0;
        text-align: center;
    }

    .btn-box button {
        width: 260px;
        height: 45px;
        font-size: 1rem;
        border-radius: 2px;
        border: none;
        outline: none;
        background: #BA54EB;
        color: white;
        cursor: pointer;
    }

    .message-text {
        width: 260px;
        height: 45px;
        font-size: 1rem;
        border-radius: 2px;
        border: none;
        outline: none;
        background: white;
        color: black;
    }

    .message-text::placeholder{
        color: #bfbfbf;
        text-align: center;
    }

/* THIS IS FOR THE ICON BOXES/PICS */
    .other-content{
        width: 260px;
        height: 90px;
    }

    .other-content{
        text-align: center;
        padding: .2rem;
        font-size: .6rem;
    }

    .links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: .5rem;
    }

    .links li{
        display: block;
        width: 120px;
        height: 50px;
        text-decoration: none;
        line-height: 50px;
        text-align: center;
        border-radius: 3px;
        color: white;
    }

    .links li:nth-child(1) {
        background: #26242e;
    }

    .links li:nth-child(2) {
        background: blue;
    }

    .links li:nth-child(3) {
        background: purple;
    }

    .links li:nth-child(4) {
        background: aqua;
    }

    /* .contactIcons {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: .2rem;
    } */